#appmenu {
  height: 100%;
}

#appmenu:hover li span,
#appmenu:focus li span {
  opacity: 1;
}

#appmenu li span {
  opacity: 1;
  z-index: 3;
}

#nextcloud {
  width: 125px;
  padding: 0;
}

#header .logo {
  width: 100%;
  background-size: 60%;
  left: 0;
}

#appmenu li {
  margin-right: 18px;
  padding: 0;
  display: block;
  width: auto;
}

#appmenu li a {
  align-items: normal;
  display: block;
  width: auto;
  padding: 4px;
  height: 42px; // 50 - 4 - 4
  letter-spacing: unset;
  opacity: 0.85;
}

#appmenu li:hover a {
  opacity: 1;
}

#appmenu li a:hover,
#appmenu li a:focus,
#appmenu li .active {
  background-color: #003278;
  z-index: 1;
}

#appmenu li a::before {
  border-width: 5px;
}

#appmenu li a span{
  display: block;
  overflow: unset;
  width: auto;
  position: relative;
  color: #ffffff;
  font-size: 14px;
  padding: 0 5px;
}

#appmenu li a svg,
#appmenu li a .icon-more-white,
#appmenu li a .icon-loading-small-dark {
  width: 18px;
  height: 18px;
  display: block;
  margin: 2px auto 0 auto;

}


#appmenu li:hover a,
#appmenu li:hover span,
#appmenu li:focus a,
#appmenu li:focus span,
#appmenu li a:focus span,
#appmenu li a:focus + span,
#appmenu li a.active {
  transform: none;
  font-weight: 400;
  display: block;
  opacity: 1;  
}

#appmenu:hover li svg,
#appmenu:hover li .icon-more,
#appmenu:hover li .icon-more-white,
#appmenu:hover li .icon-loading-small,
#appmenu:hover li .icon-loading-small-dark {
  transform: none;
}

#appmenu li a:focus svg,
#appmenu li a:focus .icon-more,
#appmenu li a:focus .icon-more-white,
#appmenu li a:focus .icon-loading-small,
#appmenu li a:focus .icon-loading-small-dark {
  transform: none;
}