#appmenu {
  height: 100%;
}

#appmenu:hover li span,
#appmenu:focus li span {
  opacity: 1;
}

#appmenu li span {
  opacity: 1;
  z-index: 3;
}

#nextcloud {
  width: 125px;
  margin-left: -8px;
}

#header .logo {
  width: 100%;
  background-size: 60%;
  left: 0px;
}

.header-appname {
  margin-left: 130px;
}

#appmenu li {
  padding: 0;
  display: block;
  width: auto;
}

#appmenu li a {
  align-items: normal;
  display: block;
  width: auto;
  padding: 4px;
  height: 42px; /* 50 - 4 - 4 */ 
  letter-spacing: unset;
  opacity: 0.85;
}

#appmenu li:hover a {
  opacity: 1;
}

#appmenu li a:hover,
#appmenu li a:focus,
#appmenu li .active {
  background-color: #003278;
  z-index: 1;
}

#appmenu li a::before {
  border-width: 5px;
}

#appmenu li a span{
  display: block;
  overflow: unset;
  width: auto;
  position: relative;
  color: #ffffff;
  font-size: 13px;
  padding: 0 12px;
  font-weight: 500;
  letter-spacing: 0.1px;
}

#appmenu li a svg,
#appmenu li a .icon-more-white,
#appmenu li a .icon-loading-small-dark {
  width: 18px;
  height: 18px;
  display: block;
  margin: 2px auto 0 auto;

}


#appmenu li:hover a,
#appmenu li:focus a,
#appmenu li a.active {
  transform: none;
  display: block;
  opacity: 1;  
  font-size: 13px;
}

#appmenu li:hover span,
#appmenu li:focus span,
#appmenu li a:focus span,
#appmenu li a:focus + span {
  padding: 0 12px;
}

#appmenu:hover li svg,
#appmenu:hover li .icon-more,
#appmenu:hover li .icon-more-white,
#appmenu:hover li .icon-loading-small,
#appmenu:hover li .icon-loading-small-dark {
  transform: none;
}

#appmenu li a:focus svg,
#appmenu li a:focus .icon-more,
#appmenu li a:focus .icon-more-white,
#appmenu li a:focus .icon-loading-small,
#appmenu li a:focus .icon-loading-small-dark {
  transform: none;
}

#body-settings #settings #expand:before,
#body-settings #settings .settings-menu ::after {
  border-width: 5px;
}

/* hide recommendations */
#recommendations,
#recommendations-setting-enabled {
  display: none !important;
}

/* prevent overlapping in the contacts app */
.app-content-list {
  padding-top: 60px;
}

/* add spacing around the „close nvaigation“ toggle */
.button.app-navigation-toggle[data-v-e24cf7a0] {
  top: 8px;
  right: -8px;
}

/* add spacing to the bottom of the sidebar so when scrolling to the bottom there is enough space between the content and the settings button */
.app-navigation__list {
  padding-bottom: 40px;
}
